<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="/home">TTD - HOTEL BOOKING</a>

        <!-- Toggler Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/?category_id={{ c.id }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <!-- Search Form -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" name="q" type="search" placeholder="Nhập từ khóa" aria-label="Search">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>
