{% extends 'layout/base.html' %}

{% block content %}

<section class="container py-5">
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-12" style="padding:0.7rem">
            <div class="card shadow-lg border-0 rounded-lg overflow-hidden">
                <img class="card-img-top img-fluid" src="{{p.image}}" alt="Card image" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ p.name }}</h5>
                    <p class="card-text text-muted">{{ p.address }}</p>
                    <p class="card-text text-dark font-weight-bold">{{ p.price }}đ</p>
                    <div class="d-flex justify-content-between">
                        <a href="/products/{{ p.id }}" class="btn btn-outline-primary btn-sm w-48">Xem chi tiết</a>
                        <a href="#" class="btn btn-danger btn-sm w-48">Đặt phòng</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 15px;
        overflow: hidden;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
        border-bottom: 2px solid #f1f1f1;
        border-radius: 10px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .card-text {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .card-price {
        font-size: 1rem;
        font-weight: bold;
        color: #007bff;
    }

    .btn {
        transition: transform 0.2s ease, background-color 0.3s ease;
        border-radius: 30px;
        font-weight: 600;
    }

    .btn:hover {
        transform: scale(1.05);
    }

    .btn-outline-primary {
        border: 2px solid #007bff;
        color: #007bff;
    }

    .btn-outline-primary:hover {
        background-color: #007bff;
        color: white;
    }

    .btn-danger {
        background-color: #ff5733;
        color: white;
    }

    .btn-danger:hover {
        background-color: #c13c21;
    }

    @media (max-width: 768px) {
        .card {
            margin-bottom: 1.5rem;
        }
    }
</style>


{% endblock %}